main {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 3vw;
    gap: 3vw;
    border-radius: 0.4vw;
    background: var(--primary);
    margin-top: 5vw;
    max-width: 50vw;
}
h2{
    font-family: var(--font);
    color: var(--secondary);
    font-size: 1.5vw;
    margin: 0;
    text-align: center;
}
main section img{
    width: 50vw;
    border: 0.3vw solid black;
    height: max-content;
}
main section p{
    font-family: var(--font);
    font-size: 1.2vw;
    color: var(--secondary);
}
:root{
    --primary:#ff6f00;
    --secondary:rgb(0, 40, 99);
    --font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media (max-width:720px){
    main{
        max-width: 80vw;
    }
    h2{
        font-size: 5vw;
    }
    main section img{
        width: 80vw;
    }
    main section p{
        font-size: 3vw;
    }
}